global:
  scrape_interval: 10s

rule_files:
  - /etc/prometheus/rules/alerts.yml
  - /etc/prometheus/rules/alerts.dynamic.yml


scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: cadvisor
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: node-exporter
    static_configs:
      - targets: ["node-exporter:9100"]
